.Stats {
  line-height: 1.8;
  margin: 40px 0;
  display: flex;
  justify-content: space-around;
  @media only screen and (max-width: 640px) {
    display: block;
  }

  h2 {
    font-size: 20px;
    color: #e8d5f7;
    font-weight: normal;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }

  &__box {
    width: 100%;

    ol {
      column-count: 2;
      padding: 0 0 0 15px;
    }
  }
}
