.App {
  background: #8b2f97;
  background: -webkit-linear-gradient(to right, #435fcf, #8b2f97);
  background: linear-gradient(to right, #435fcf, #8b2f97);

  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  height: 100%;

  * {
    box-sizing: border-box;
  }

  &__wrapper {
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
  }
}
