.Converter {
  margin: 25px 0;
  background-color: rgba(0,0,0,0.2);
  border-radius: 10px;

  &__form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px 25px 0 25px;

    @media only screen and (max-width: 640px) {
      display: block;
    }

    .Converter__form__item {
      width: 25%;
      margin: 0 1% 25px 1%;
      @media only screen and (max-width: 640px) {
        width: 100%;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &__label {
      font-size: 11px;
      line-height: 15px;
      text-align: center;
      width: 100%;
    }
  }

  &__input, &__button {
    border: 0;
    padding: 10px;
    height: 50px;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
    outline: none;
    width: 100%;
  }

  &__button {
    background-color: #00b4ee;
    color: #eef8ff;
    cursor: pointer;

    &:hover {
      background-color: #2fbbee;
    }
  }

  &__result {
    text-align: center;
    font-size: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
    border-radius: 0 0 10px 10px;

    @media only screen and (max-width: 640px) {
      font-size: 36px;
    }
  }
}
